
 /*----------------------------------------login.php-style---------------------------------------*/


#overlayLogin {
    position: absolute;
    margin-left: -14px;
    width: 100%;
    height: 100%;
    background:url(../img/fondoLogin.jpg) repeat scroll;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
    opacity: 0.6;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.Login {
	background-color: #add8e6;
	border-radius: 8px;
	height: 353px;
	margin: 67px auto 0;
	text-align: left;
	width: 521px;
}

.Login_Form {
    background: #F3F3F3;
    box-shadow: 6px 9px 10px 3px rgba(0,0,0,0.15);
    border-radius: 21px;
    left: 40%;
    max-width: 377px;
    padding: 36px 14px 26px;
    position: absolute;
    top: 25%;
    width: 50%;
    z-index: 99;
}

.Login_Form h1 {
    text-align: left;
    padding-left: 40px;
    text-transform: uppercase;
    line-height: 2;
    border-left: 1px solid #244180;
    border-right: 1px solid #244180;
    margin: -14px -16px 1px -14px;
    background-color: #1da1f2;
    color: #fff;
    display: block;
    font-family: 'ProximaNova-Light',sans-serif;
    font-size: 20px;
}

.Login_un {
	background: rgba(0, 0, 0, 0) url(../../Vista/img/Login_user.png) no-repeat scroll 2px 0px;
	border: 1px solid #14A797;
	color: black;
	border-radius: 10px;
	font: 22px/16px 'Calibri';
	text-align: center;
	width: 280px;
	margin-top: 10px;
	margin-left: 60px;
}

.Login_ps {
	background: rgba(0, 0, 0, 0) url(../../Vista/img/Login_key.png) no-repeat scroll 2px 0px;
	color: black;
	border-radius: 10px;
	font: 22px/16px 'Calibri';
	text-align: center;
	width: 280px;
	margin-top: 10px;
	margin-left: 60px;
}

.Login_btn {
    background: rgba(0, 0, 0, 0) url(../../Vista/img/login.png) no-repeat scroll 90px 5px;
    background-color: #F41035;
    border: 1px solid #FF0500;
    border: none;
    border-radius: 9px;
    color: #FFFFFF;
    font-family: 'ProximaNova-Regular',sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
    margin: 0px 104px 10px 117px;
    padding: 11px 50px 9px 15px;
    text-transform: uppercase;
}
 /*----------------------------------------comun-style---------------------------------------*/
body{
    background-color: #e5fcff;
}
.listadoDiv {
    height: 100%;
    margin-top: 6px;
    margin-left: -7%;
    width: 80%;
    background: white none repeat scroll 0 0;
    border-radius: 19px;
    border-bottom: 3px solid #b5caff;
    text-align: left;
    top: 9px;
}

.listadoDiv h1 {
    text-align: left;
    padding-left: 40px;
    line-height: 2;
    border-left: 1px solid #244180;
    border-right: 1px solid #244180;
    margin: -13px -15px 1px -16px;
    background-color: #55acee;
    color: #fff;
    display: block;
    font-family: 'ProximaNova-Light',sans-serif;
    font-size: 20px;
}

.formData {
    height: 100%;
    margin-top: 6px;
    margin-left: -7%;
    width: 50%;
    background: white none repeat scroll 0 0;
    border-radius: 19px;
    border-bottom: 3px solid #b5caff;
    text-align: left;
    top: 9px;
}

.formData h1 {
    text-align: left;
    padding-left: 40px;
    line-height: 2;
    border-left: 1px solid #244180;
    border-right: 1px solid #244180;
    margin: -13px -15px 1px -16px;
    background-color: #55acee;
    color: #fff;
    display: block;
    font-family: 'ProximaNova-Light',sans-serif;
    font-size: 20px;
}

.casillaFormulario {
    color: black;
    border-radius: 10px;
    font: 22px/16px 'Calibri';
    text-align: left;
    margin-top: 8px;
    margin-left: 36px;
}

.digitoVerficador {
    width: 50px;
}

.selectPicker {
    color: black;
    border-radius: 10px;
    font: 20px/14px 'Calibri';
    text-align: left;
    margin-top: 8px;
    margin-left: 36px;
    height: 36px;
    width: 225px;
}

#formAddAbogado_idEspecialidad {
    margin-left: 0px;
}

#formAddAtencion_idUsuario {
    margin-left: 0px;
}

#formAddAtencion_idAbogado {
    margin-left: 0px;
}

.btn {
    background-color: #F41035;
    border: 1px solid #FF0500;
    border: none;
    border-radius: 12px;
    color: #FFFFFF;
    font-family: 'ProximaNova-Regular',sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
    margin: 2px 54px 0px 194px;
    padding: 11px 14px 9px 19px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #F41035;
    border-radius: 12px;
    color: #FFFFFF;
    font-family: 'ProximaNova-Regular',sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
    margin: 2px 54px 0px 194px;
    padding: 11px 14px 9px 19px;
    text-transform: uppercase;
    opacity: 0.9;
}

.menuCerrarSesion {
    position: absolute;
    margin-left: 68%;
    margin-top: 14px;
}

.menuNombreUsuario {
    position: absolute;
    margin-left: 74%;
    margin-top: 14px;
    font-weight: bolder;
}

/*---------------------------------------- en construccion-style---------------------------------------*/
.navbar-default {
	background-color: #3b89c3;
	border-color: black;
	opacity: 0.8;
	top: 2px;
    opacity: 0.7;
}
@media (min-width: 768px)
.navbar {
    border-radius: 8px;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 0px solid transparent;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.container{
    width: 100%;
}
/*


*/
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#map {
    width: 50%;
    height: 357px;
    margin-top: -6px;
    margin-bottom: 32px;
    margin-left: 564px;
    top: -316px;
}/*

  ----------------------------------------footer-styles---------------------------------------
*/#footer {
	background-color: #111111;
    margin: 0;
    min-height: 105px;
    padding: 0;
    width: 100%;
    margin-top: 50px;
    opacity: 0.9;
}

#footer div {
	margin: 0 auto;
	max-width: 940px;
	overflow: hidden;
	padding: 47px 10px 42px;
}
#footer div p {
	color: #FFFFFF;
	float: left;
	font-family: Arial;
	font-size: 15px;
	font-weight: normal;
	line-height: 15px;
	margin: 0;
	padding: 5px 0 0;
	text-align: left;
	text-transform: none;
	width: 400px;
}
#footer div .connect {
	display: block;
	float: right;
	height: 32px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 154px;
}
#footer div .connect a {
	background: url(../../view/img/icons.png) no-repeat;
	display: block;
	float: left;
	height: 28px;
	margin: 0 7px;
	padding: 0;
	text-indent: -99999px;
	width: 28px;
}
#footer div .connect a.facebook {
	background-position: 0 0;
}
#footer div .connect a.googleplus {
	background-position: 0 -30px;
}
#footer div .connect a.twitter {
	background-position: 0 -90px;
}
#footer div .connect a.facebook:hover {
	background-position: -30px 0;
}
#footer div .connect a.googleplus:hover {
	background-position: -30px -30px;
}
#footer div .connect a.twitter:hover {
	background-position: -30px -90px;
}